:root {
  --main-color: #9e4fde;
  --second-color: #e5bdfc;
  --third-color: #fff;
  --fourth-color: #000;
}

.presentation a {
  text-decoration: none;
  color: var(--third-color);
  background-color: var(--main-color);
  padding: 10px;
  width: 47%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: 1px solid var(--main-color);
  font-size: 17px;
  border-radius: 6px;
}

.presentation {
  display: flex;
  gap: 7px;
  flex-direction: column;
  width: 93%;
}

.header {
  background-color: var(--third-color);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about-me span {
  font-weight: bold;
  color: var(--main-color);
}

.name {
  font-size: 18px;
}

.presentation h1 {
  font-size: 24px;
}

.presentation p {
  font-size: 20px;
}

.gif {
  display: none;
}

@media (min-width: 768px) {
  .gif {
    display: none;
  }

  .name {
    font-size: 23px;
  }

  .presentation h1 {
    font-size: 26px;
  }

  .presentation p {
    font-size: 23px;
  }

  .presentation a {
    width: 22%;
    font-size: 19px;
  }
}

@media screen and (min-width: 1100px) {
  .presentation h1 {
    font-size: 40px;
  }

  .header {
    flex-direction: row;
    gap: 20px;
    border-bottom: 4px solid var(--main-color);
    margin-bottom: 20px;
  }

  .about-me span {
    font-size: 30px;
  }

  .presentation p {
    font-size: 30px;
  }

  .presentation {
    gap: 18px;
  }

  .presentation a {
    padding: 14px;
    margin-left: auto;
    margin-right: auto;
    width: 24%;
    font-size: 23px;
  }

  .presentation a:hover {
    background-color: var(--third-color);
    border: 1px solid var(--main-color);
    color: var(--main-color);
  }

  .gif {
    display: flex;
    margin: 23px;
    width: 550px;
    height: 665px;
  }
}
